body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    position: relative;
    background-image: url(./src/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#divWin {
    position: absolute;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    background: #3a2e27;
    color: gray;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
}

#divWin p {
    margin: 1vw;
}

#divWin .reset {
    margin: 5px auto 5px auto;
    background-color: gray;
    border: none;
    border-radius: 5px;
    color: #3a2e27;
    font-size: 1rem;
    width: 50%;
    text-transform: uppercase;
}

header #titulo {
    background-color: #3a2e27;
    width: 30vw;
    margin: 0 auto;
    border-radius: 5px;
}

header #titulo h1 {
    text-align: center;
    color: gray;
}

#game {
    
    width: 735px;
    margin: 0 auto;
    background-color: #fff;
}

.line {
    display: flex;
}

.line > * {
    width: 35px;
    height: 35px;
}

#player {
    width: 100%;
    height: 100%;
}

.wall {
    background-image: url(./src/wall.jpeg);
}

.floor {
    background-color: #3a2e27;
}



